{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
<div class="container">
    <div class="row">
        <div class="col-md-12 border rounded p-1 mb-0" id="dark_bg">
            <h1 id="bright_txt">Resultados Finales
            <small id="light_txt">(Ronda <span id="bright_txt">{{ subsession.round_number }}</span> de {{ Constants.num_rounds }})</small>
            </h1>
            <div>
                <small id="light_txt">Coordinaciones en su grupo:
                    <button type="button" class="btn btn-warning" disabled>{{ group.total_win_one }}</button>
                    <button type="button" class="btn btn-success" disabled>{{ group.total_win_two }}</button>
                    <button type="button" class="btn btn-info" disabled>{{ group.total_win_three }}</button>
                    <button type="button" class="btn btn-danger" disabled>{{ group.total_win_four }}</button>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
    <!-- Network -->
        <div class="col-md-6 border border-dark rounded p-3 mb-1" id="light_bg">
            <h4 id="medium_txt">Resumen: Opciones elegidas</h4>
            <h6 id="medium_txt">
                El color muestra la <b> opción </b> elegida por cada participante en la Etapa 3 de la ronda anterior.
                <br><br>
                {% if group.coordination == 1 %}
                 <b class="message">La coordinación fue exitosa.</b>
                {% else %}
                 <b class="message">La coordinación no fue exitosa.</b>
                {% endif %}
            </h6>
        <div id="cy"></div>
            <div class="container ">
                <div class="row">
                </div>
            </div>
        </div>
    <!-- Choice -->
        <div class="col-md-6 border border-dark rounded p-3 mb-1" id="dark_bg">
            <h4 id="light_txt">Usted es el participante <b id="bright_txt"> {{player.role}}</b>:
                <br>
                <small>Presione el botón <b id="bright_txt">Continuar</b>. Luego, el computador va a elegir aleatoriamente
                    {{ Constants.chosen_num_rounds }} rondas para determinar sus ganancias. </small>
            <br><br>
            <button type="otree-btn-next" class="btn button btn-md"> Continuar </button>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.1.0/cytoscape.js"></script>
    <script>
        var jsonnet = JSON.parse('{{group.network_data|safe}}');
        var player_id = {{ player.name }};
        console.log(jsonnet);
        var cy = window.cy = cytoscape({
            container: document.getElementById('cy'),

        });

        // Add isMine = 'yes' to all player's node and edges
        jsonnet.elements = jsonnet.elements.map(
            function(value) {
                if ( (value.group === 'nodes' && value.data.name == 1)
                ) {
                    value.data.role = 'up'
                }
                if ( (value.group === 'nodes' && value.data.name == 2)
                ) {
                    value.data.role = 'right'
                }
                if ( (value.group === 'nodes' && value.data.name == 3)
                ) {
                    value.data.role = 'down'
                }
                if ( (value.group === 'nodes' && value.data.name == 4)
                ) {
                    value.data.role = 'left'
                }
                if (value.group === 'nodes' && value.data.action == 1) {
                    value.data.behavior = 'One'
                }
                if (value.group === 'nodes' && value.data.action == 2) {
                    value.data.behavior = 'Two'
                }
                if (value.group === 'nodes' && value.data.action == 3) {
                    value.data.behavior = 'Three'
                }
                if (value.group === 'nodes' && value.data.action == 4) {
                    value.data.behavior = 'Four'
                }
                return value
            });

        console.log(jsonnet)
        cy.json(jsonnet);

        var layout = cy.layout({name: 'grid'});

        layout.run();
        cy.panBy('node');

        cy.style()
            // NODES ==============================================
            .selector('node')
            // .style('padding-relative-to', 'width')
            .style('shape', 'rectangle')
            .style('width', '40%')
            .style('height', '40%')
            .style('background-color', '#efebe9')
            .style('border-width', '2')
            .style('border-color', '#3e2723')
            .style('font-size', '18pt')
            .style('color','#3e2723')
            .style('padding', '100%')
            // Node Labels: Top
            .selector('node[role="up"]')
            .style('text-valign','top')
            // Node Labels: Right
            .selector('node[role="right"]')
            .style('text-valign','top')
            // .style('text-halign','right')
            // Node Labels: Bottom
            .selector('node[role="down"]')
            .style('text-valign','top')
            // Node Labels: Left
            .selector('node[role="left"]')
            .style('text-valign','top')
            // ====================================================
            // BEHAVIOR ===========================================
            // Choice == 1
            .selector('node[behavior="One"]')
            .style('background-color', '#ffbb33')
                // .style('background-color', '#E1BEE7')
            // Choice == 2
            .selector('node[behavior="Two"]')
            .style('background-color', '#00C851')
                // .style('background-color', '#C8E6C9')
            // Choice == 3
            .selector('node[behavior="Three"]')
            .style('background-color', '#33b5e5')
                // .style('background-color', '#E1BEE7')
            // Choice == 4
            .selector('node[behavior="Four"]')
            .style('background-color', '#ff4444')
                // .style('background-color', '#C8E6C9')
            // ====================================================
            .update() // update the elements in the graph with the new style
        ;
        cy.userZoomingEnabled(false);
        cy.autoungrabify(true);
    </script>
{% endblock %}

{% block styles %}
<!-- CSS -->
    <style type="text/css">
        #cy {
            width: 100%;
            height: 100%;
            display: block;
        }
        #light_bg{
            background-color: #E0E0E0;
        }
        #medium_bg{
            background-color: #9E9E9E;
        }

        #dark_bg{
            background-color: #424242;
        }
        #light_txt{
            color: #ffffff;
        }
        #medium_txt{
            color: #424242;
        }
        #dark_txt{
            color: #000000;
        }
        #bright_txt {
            color: #E1BEE7;
        }
        .center {
            text-align: center;
        }
        .button:hover {
            background-color: #455A64;
            color: #B3E5FC;
            border: 2px solid #B3E5FC
        }
        .button {
            background-color: #FDD835;
            color: #000000;
            border: 2px solid #3E2723
        }
        .message{
            background-color: #E1BEE7;
            color:#000000;
        }
    </style>
{% endblock %}
