{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
<div class="container">
    <div class="row">
        <div class="col-md-12 border rounded p-1 mb-0" id="dark_bg">
            <h1 id="light_txt"> Part {{ Constants.part_pre_min }}. <span id="bright_txt">Picking Numbers</span></h1>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container">
    <!-- Coordination Outcome -->
    <div class="row">
        <div class="col-md-6 border border-dark rounded p-3 mb-1" id="light_bg">
            <h5>Calculate your earnings</h5>
            <p>Choose values for <b>your pick</b> and the <b>minimum pick</b> in your group. Then, press the calculate
                button and you will see the earnings you can get if these choices were made.
            </p>
            If <b>your pick</b> is:
            <small>{% formfield player.test_effort label="" %}</small>
            and the <b>minimum pick</b> is:
            <br>
            <small>{% formfield player.test_minimum label="" %}</small>

            <a href='#' class='btn btn-danger' id="btn-calc" onclick="showResult()">Calculate</a>

            <br><br>
            <div id="result_msg" class="small"></div>
            <br>

            <b>You earn</b> (60 - your pick + 2 x minimum pick):
{#            17 + 13#}
            <br><br>
            <h4><span id="id_test_result">0</span> {{ Constants.exp_currency }}</h4>

        </div>
        <div class="col-md-6 border border-dark rounded p-3 mb-1" id="medium_bg">
            <h5 class="center" id="light_txt">Decision:</h5>
            <p id="light_txt">Please pick a number between 1 and 60:
                            {% formfield player.effort label="" %}
            </p>
            <br>
                <button class="btn button btn-md"> Continue </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
var n_tests = 0;
var MAX_TESTS = 3;

function showResult() {
    var result_msg = $('#result_msg');
    result_msg.text('');

    if (n_tests > MAX_TESTS - 1) {
        alert('You have reached the maximum calculations allowed');
        return;
    }

    var test_effort = parseInt($('#id_test_effort').val());
    var test_minimum = parseInt($('#id_test_minimum').val());

    if (test_effort < test_minimum) {
        result_msg.text('Effort lower than minimum, calculation result not displayed');
        return;
    }
    var r = 60 - test_effort + 2 * test_minimum;
    $('#id_test_result').text(r);
    n_tests++;

    if (n_tests == MAX_TESTS) {
        result_msg.text('You have reached the maximum calculations allowed');
        $('#btn-calc').hide(200);
    }
}
</script>
{% endblock %}



{% block styles %}
    <style type="text/css">
        #cy {
            width: 100%;
            height: 100%;
            display: block;
        }
        #light_bg{
            background-color: #CFD8DC;
        }
        #medium_bg{
            background-color: #37474F;
        }

        #dark_bg{
            background-color: #263238;
        }
        #light_txt{
            color: #ffffff;
        }
        #medium_txt{
            color: #3E2723;
        }
        #dark_txt{
            color: #000000;
        }
        #bright_txt {
            color: #B3E5FC;
        }
        .center {
            text-align: center;
        }
        .button {
            background-color: #FDD835;
            color: #37474F;
            border: 2px solid #F9A825
        }
        .button:hover {
            background-color: #B3E5FC;
            color: #000000;
            border: 2px solid #3E2723
        }
    </style>
{% endblock %}