{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
<div class="container">
    <div class="row">
        <div class="col-md-12 border rounded p-1 mb-0" id="dark_bg">
            <h1 id="light_txt"> Results and Earnings </h1>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
    <!-- Min. Effort ONE -->
        <div class="col-md-2 border border-dark rounded p-3 mb-1" id="light_bg">
            <h5>Part {{ Constants.part_pre_min }}:</h5>
              <p id="medium_txt">
                        Your pick:
                        <br>
                        <b>{{ player.first_effort }}</b>
{#                  <button type="button" class="btn button btn-dark btn-sm" disabled>{{ player.first_effort }}</button>#}
                    <br><br>
                        Minimum pick:
                        <br>
                  <b>{{ player.first_min_effort }}</b>
{#                        <button type="button" class="btn button btn-dark btn-sm" disabled>{{ player.first_min_effort }}</button>#}
                </p>
        </div>
    <!-- Coordination Game -->
        <div class="col-md-5 border border-dark rounded p-3 mb-1" id="light_bg">
            <h5>Part {{ Constants.part_coord }}:</h5>
            <p id="dark_txt">
                The {{ Constants.chosen_num_rounds }} rounds chosen were:
                <div class="center">
            <b>{{ Constants.pay_rounds }}</b>
{#                    <button type="button" class="btn button btn-dark" disabled>{{ Constants.pay_rounds }}</button>#}
                </div>
                 <br>
                You coordinated in <b> {{ player.coordination }} </b> rounds, as follows:
                <br><br>
                <div class="center">
                    <button type="button" class="btn btn-warning btn-sm" disabled>{{ player.win_one }}</button>
                    <button type="button" class="btn btn-success btn-sm" disabled>{{ player.win_two }}</button>
                    <button type="button" class="btn btn-info btn-sm" disabled>{{ player.win_three }}</button>
                    <button type="button" class="btn btn-danger btn-sm" disabled>{{ player.win_four }}</button>
                </div>
            </p>
            <p id="brown">
                Total points in your group: <b> {{ player.group_points }} </b>
                <br><br>
                Your total points : <b> {{ player.my_points }} </b>
            </p>
        </div>
    <!-- Min. Effort TWO -->
        <div class="col-md-2 border border-dark rounded p-3 mb-1" id="light_bg">
            <h5>Part {{ Constants.part_post_min }}:</h5>
              <p id="medium_txt">
                        Your pick:
                        <br>
                                          <b>{{ player.second_effort }}</b>

{#                        <button type="button" class="btn button btn-dark btn-sm" disabled>{{ player.second_effort }}</button>#}
                    <br><br>
                        Minimum pick:
                        <br>
                                                            <b>{{ player.second_min_effort }}</b>

{#                        <button type="button" class="btn button btn-dark btn-sm" disabled>{{ player.second_min_effort }}</button>#}

                </p>
        </div>
    <!-- Allocation -->
        <div class="col-md-3 border border-dark rounded p-3 mb-1" id="light_bg">
            <h5>Part {{ Constants.part_alloc }}:</h5>
            <p id="dark_txt">
                {% if player.chosen_pair == 1 %}
                    You pair was:
                    <br>
                    <b>chosen</b>
                    <br><br>
                    {% if player.chosen_role == 1 %}
                        Your were in:
                        <br>
                        <b>role A</b>
{#                        <br><br>#}
{#                        You kept:#}
{#                        <br>#}
{#                        <b>{{ player.alloc_points }} {{ Constants.exp_currency }}</b>#}
                    {% elif player.chosen_role == 0 %}
                        Your were in:
                        <br>
                        <b>role B</b>
{#                        <br><br>#}
{#                        You received:#}
{#                        <br>#}
{#                        <b>{{ player.alloc_points }} {{ Constants.exp_currency }}</b>#}
                    {% endif %}
                    <br>
                {% else %}
                    You pair was:
                    <br>
                    <b> not chosen</b>
                {% endif %}
            </p>
        </div>
    </div>


    <div class="row">
    <!-- Min. Effort ONE -->
        <div class="col-md-4 border border-dark rounded p-3 mb-1" id="dark_bg">
            <div>
                <h4 id="light_txt"> In part {{ Constants.part_pre_min }} you earn:</h4>
                <h5 id="bright_txt">{{ player.first_my_points }} {{ Constants.exp_currency }}</h5>
                <br>
                <h4 id="light_txt"> In part {{ Constants.part_coord }} you earn:</h4>
                <h5 id="bright_txt">{{ player.coord_points}} {{ Constants.exp_currency }}</h5>
                <br>
                <h4 id="light_txt"> In part {{ Constants.part_post_min }} you earn:</h4>
                <h5 id="bright_txt">{{ player.second_my_points }} {{ Constants.exp_currency }}</h5>
                <br>
                <h4 id="light_txt"> In part {{ Constants.part_alloc }} you earn:</h4>
                <h5 id="bright_txt">{{ player.alloc_points }} {{ Constants.exp_currency }}</h5>
            </div>
        </div>
        <div class="col-md-8 border border-dark rounded p-3 mb-1" id="medium_bg">
          <p>
          In total, you earned {{ player.total_points }} and each {{ Constants.exp_currency }} will be exchange into {{ Constants.currency_exchange }}
              {{ Constants.currency }}. In addition, you will receive a fix show-up fee of ({{ Constants.min_pay }} {{ Constants.currency }}).
              <br><br>
              Therefore, your final payment is:
            <br>
        <h1>{{ participant.payoff_plus_participation_fee }}</h1>
          <br>
            <i>If your final payment is lower than {{ Constants.min_pay }} {{ Constants.currency }} you will receive the
                show-up fee, so you will earn {{ Constants.min_pay }} {{ Constants.currency }}</i>
            <br><br>
            <h6 id="midi">Please remain seated until you are called for payment.</h6>
          </p>
            <button type="otree-btn-next" class="btn button btn-md" style="float: right;"> Finish </button>
          <br><br>
        </div>
    </div>
</div>
{% endblock %}

{% block styles %}
    <style type="text/css">
        #cy {
            width: 100%;
            height: 100%;
            display: block;
        }
        #light_bg{
            background-color: #ffffff;
        }
        #medium_bg{
            background-color: #B3E5FC;
        }

        #dark_bg{
            background-color: #263238;
        }
        #light_txt{
            color: #ffffff;
        }
        #medium_txt{
            color: #3E2723;
        }
        #dark_txt{
            color: #000000;
        }
        #bright_txt {
            color: #B3E5FC;
        }
        .center {
            text-align: center;
        }
        .btn_pts {
            background-color: #ffffff;
            color: #000000;
            border: 2px solid #FDD835
        }

        .button {
            background-color: #FDD835;
            color: #000000;
            border: 2px solid #F9A825
        }
        .button:hover {
            background-color: #000000;
            color: #ffffff;
            border: 2px solid #FDD835
        }
    </style>
{% endblock %}